@import "../../fonts/Computer%20Modern/all.css";

html {
    font-family: 'Computer Modern Serif';
    font-size: 10pt;
    text-align: justify;
    font-kerning: auto;
    hyphens: auto;
    hyphenate-before: 4;
    hyphenate-after: 4;
    prince-hyphenate-lines: 1;
    
}

code {
    font-family: 'Computer Modern Typewriter Light';
}

html, body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    hyphens: none;
    text-align: left;
}

p + p {
    text-indent: 10pt
}


blockquote {
   font-style: italic;
}




.numbering.level_1 {
    width: 10pt;
    font-size: 24pt;
    display: block;
    padding-top: 50pt;
    margin: 25pt auto;
    font-weight: normal;
    text-align: center;
    /*border-bottom: 1px solid #000000;*/
    font-family: 'Computer Modern Medium';
}
.main h1{
    font-family: 'Computer Modern Medium';
    font-weight: normal;
    text-align: center;
    margin: 0 0 50pt;
    
}

.content_md {
    page-break-after: always;
}

#dedication_md {
    margin: 200pt 80pt;
    text-align: center;
}

@page {
    size: A4;
    margin: 32mm;

    @bottom-center {
        font-family: 'Computer Modern Medium';
        font-weight: normal;
        font-size: 0.8em;
        padding-bottom: 2em;
        content: counter(page);
        text-transform: uppercase;
    }
}

.cover {
    page: cover;
    counter-reset: page;
    margin-top: 32em;
    font-family: 'Computer Modern Medium';
}

.cover p {
    text-align: center;
    font-weight: normal;
    font-size: 12pt;
}

.cover h1 {
    font-size: 18pt;
    text-align: center;
    font-weight: normal;
}

.front h1 {
    text-align: center;
    font-size: 11.74988pt;
    padding-top: 64pt;
}

@page cover {
    @bottom-center {
        content: "";
    }
}

.front {
    page: front;
}

#introduction_md {
    counter-reset: page 1;
}

@page front {
    @bottom-center {
        content: counter(page, lower-roman);
    }
}

#toc_md ul li {
    width: 400pt;
}

#toc_md ul ul li {
    width: 390pt;
}

#toc_md ul ul ul li {
    width: 370pt;
}

#toc_md a:after {
    content: leader(" . ") target-counter(attr(href), page);
}

#toc_md .tocify-header > li > a:after {
    content: leader("  ") target-counter(attr(href), page);
}

#toc_md ul {
    margin-left: 0;
    list-style: none;
}

#toc_md ul ul {
    margin-left: 10pt;
}

#toc_md ul ul ul {
    margin-left: 20pt;
}

.tocify-header {
    margin-bottom: 15pt;
}

.tocify-header > li > a {
    font-weight: bold;
}

div.csl-entry {
    padding: 0;
    margin: 0 0 10pt;
}

div.csl-left-margin {
    display: table-cell;
    width: 0.63cm;
}

div.csl-right-inline {
    padding: 0;
    display: table-cell;
}


a {
    text-decoration: none;
    color: #000000;
}